<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOTA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="style01.css">
    <style>
        .infowindow_wrap {
          position: absolute;
          top: 100px;
          z-index: 10000;
          background-color: white;
          left: 50px;
          padding: 15px;
          border: 1px solid rgba(0,0,0,0.2);
          border-radius: 4px;
          text-align: center;
        }

        .infowindow_date {
          font-size: 15px;
          font-weight: bolder;
        }
    </style>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=wmsgq9n86c"></script>
</head>
<body>
    <div class="left">
        <div class="name">
            <a href="#"><img src="Nota.png" alt="Nota" title="NoTa" width=200 height=150></a>
        </div>
        <div class="back">
            <div class="menu">
                <input type="checkbox" id="expand-menu" name="expand-menu">
                <a href="#" class="item"><div><span class="material-symbols-outlined">map</span>&nbsp; Main Page</div></a>
                <br>
                <a href="#" class="item"><div><span class="material-symbols-outlined">pie_chart</span>&nbsp; Chatgraph</div></a>
                <br>
                <a href="#" class="item"><div><span class="material-symbols-outlined">newspaper</span>&nbsp; News</div></a>
                <br>
                <a href="#" class="item"><div><span class="material-symbols-outlined">help</span>&nbsp; About</div></a>
            </div>
        </div>
    </div>

    <!--    이 아래 부분이 오른쪽 화면에 컨텐츠가 들어갈 부분입니다.   -->
    <!--    div class=right 부분 안쪽의 내용을 수정하면 됨!!    -->
    <div class="right">
    <!--    이 아래를 수정하시면 됩니당    -->
        <div id="navbar">MyfirstMap</div>

  <div id="map" style="width:100%;height:100vh;"></div>

  <script type="text/javascript" src="data_15.js"></script>
  <script>
  <!-- 지도 중심 위치 띄우기 및 zoom 정도 변경 -->
  var mapOptions = {
      center: new naver.maps.LatLng(37.3595704, 127.105399),
      zoom: 7,
  };
  // 지도 가져오기 (naver.maps.Map 코드 사용)
  var map = new naver.maps.Map("map", mapOptions);

  // marker와 infowindow 생성 후 넣어줄 list 생성
  var markerList = [];
  var infowindowList =[];

  // for문 안에서 data.js 안에 있는 데이터를 받아와 마커 위치 지정
  for (var i in data) {
    var target = data[i];
    // data.js 안의 위도, 경도 값을 받아 마커 띄우기
    var latlng = new naver.maps.LatLng(target.lat, target.lng);
    marker = new naver.maps.Marker({
      map: map,
      position: latlng,
    });

    // infowindow에 들어갈 내용 div태그 안에 넣어서 지정하기
    var content = `<div class='infowindow_wrap'>
                        <div class='infowindow_location'>${target.location}</div>
                        <div class='infowindow_date'>${target.date}</div>
                        <div class='infowindow_type'>${target.type}</div>
                        <div class='infowindow_dead'>${target.dead}</div>
                        <div class='infowindow_hurt'>${target.hurt}</div>
                </div>`

    // infowindow 띄우기
    var infowindow = new naver.maps.InfoWindow({
        content: content,
        backgroundColor: "#00ff0000",
        borderColor: "#00ff0000",
        anchorSize: new naver.maps.Size(0,0)
    })

    // for문을 통해 생성된 marker와 infowindow list 안에 집어넣기
    markerList.push(marker);
    infowindowList.push(infowindow);
  }

  // marker를 클릭하면 infowindow가 열리고 닫히는 코드 작성
  for (var i=0, ii=markerList.length; i<ii;i++){
      // 마커가 아닌 지도 부분을 클릭해도 infowindow 닫기
      naver.maps.Event.addListener(map, 'click', ClickMap(i));
      // infowindow가 띄워져있을 때 marker 누르면 닫고
      // infowindow가 안띄워져있을 때 marker 누르면 열기
      naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
  }

  // map(지도) 부분을 클릭했을 때 infowindow를 닫는 함수
  function ClickMap(i){
      return function(){
          var infowindow = infowindowList[i];
          infowindow.close();
      }
  }

  // marker를 클릭했을 때 infowindow를 열고 닫고 할 수 있는 함수
  function getClickHandler(i){
      return function(){
          var marker = markerList[i];
          var infowindow = infowindowList[i];
          if(infowindow.getMap()) {
              infowindow.close();
          } else{
              infowindow.open(map, marker);
          }
      }
  }
  </script>
    </div>
</body>
</html>