<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NOTA</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="style01.css">
</head>
<body>
    <div class="name">
        <a href="#"><img src="Nota.png" alt="Nota" title="NoTa" width=200 height=150></a>
    </div>
    <div class="menu">
        <input type="checkbox" id="expand-menu" name="expand-menu">
        <a href="#"><div><span class="material-symbols-outlined">map</span>&nbsp; Main Page</div></a>
        <br>
        <a href="#" class="item"><div><span class="material-symbols-outlined">pie_chart</span>&nbsp; Chatgraph</div></a>
        <br>
        <a href="#" class="item"><div><span class="material-symbols-outlined">newspaper</span>&nbsp; News</div></a>
        <br>
        <a href="#" class="item"><div><span class="material-symbols-outlined">help</span>&nbsp; About</div></a>
    </div>
</body>
</html>